{% extends "registration/register_template.html" %}


{% block content %}

<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h4 class="text-dark mb-4">You are activated! {{ user.username }}</h4>
            {% if request.user.is_authenticated %}
            <a href="{% url 'todolist:dashboard' %}" class="btn btn-primary d-block btn-user w-100">Login</a>
            {% else %}
            <a href="{% url 'todolist:login' %}" class="btn btn-primary d-block btn-user w-100">Login</a>
            {% endif %}
    </div>
</div>

{% endblock content %}