{% extends "registration/register_template.html" %}


{% block content %}
<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h2 class="text-dark mb-4">Reset your password </h2>
            <p> This email is not associated with our database </p>
            <hr>
            <p class="small"> if u want to go to the homepage, please click link bellow </p>
            <a class="small" href="{% url 'todolist:home' %}"> Home </a>
            <hr>
            <p class="small"> if u want to go to the register page, please click link bellow </p>
            <a class="small" href="{% url 'todolist:register' %}"> Register </a>
            <hr>
            <p> Greets Tododo Team ! </p>
    </div>
</div>


{% endblock content %}