
{% extends "registration/register_template.html" %}
{% load widget_tweaks %}




{% block content %}

<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h4 class="text-dark mb-4">Set your new password</h4>
            <p class="small"> Type your new password below </p>
            <ul>

            <li><p class="small">
                Note that your password have to be different then your actual password
            </p></li>
            

            </ul>

        </div>
        <form class="user" method= 'POST' action = ''>
            {% csrf_token %}
                {% for form in forms  %}
                {% if form.name == "new_password1" %}
                <div class="col-sm-6">{% render_field form placeholder='new password...' class+="form-control form-control-user" %}</div>
                {% endif %}
                {% if form.name == "new_password2" %}
                <div class="col-sm-6">{% render_field form placeholder='repeat new password..' class+="form-control form-control-user" %}</div>
                {% endif %}
                {% endfor %}
                <br>
            <button class="btn btn-primary d-block btn-user w-100" type="submit">Set new password !</button>
            <br>
        </form>
        <hr>
        <p class="small text-center"> Greets from Tododo Team ! </p>
    </div>
</div>


{% endblock content %}