
{% extends "registration/register_template.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="col-lg-7">
    <div class="p-5">
        <div class="text-center">
            {% if email %}
                <h4 class="text-dark mb-4">Seems like you didn't set your password.</h4>
                <h5 class='text-dark mb-4'>
                    Click the button and we will send you an email to set it {{email}}
                </h5>
            {% else %}
                <h4 class="text-dark mb-4">Forgot Password?</h4>
                <h5 class='text-dark mb-4'>
                    Type your email, and we will send you a message with a link to reset your password.
                </h5>
            {% endif %}
        </div>
        <form class="user" method='POST' action=''>
            {% csrf_token %}
            <div class="mb-3"></div>
            <div class="row mb-3">
                <div class="col-sm-6">
                    {% render_field email_form.email placeholder="Email" autocomplete='email' class="form-control form-control-user" %}
                </div>
            </div>
            <p class="small">Note that it can take a few seconds.</p>
            <button class="btn btn-primary d-block btn-user w-100" type="submit">
                {% if email %}
                    Send email to set password
                {% else %}
                    Send email to reset password
                {% endif %}
            </button>
        </form>
    </div>
</div>
{% endblock content %}