{% extends "registration/register_template.html" %}
{% load widget_tweaks %}


{% block content %}

<div class="col-lg-7">
    <div class="p-5">
        <div class="text-center">
            <h4 class="text-dark mb-4">New password set completed</h4>
            <p class="small"> Your password was set succesfully </p>
            <p class="small"> You can use your new password to login to our website </p>
            <div class="text-center"><a class="small" href="{% url 'todolist:login' %}">Lets login!</a></div>
            <br>
            <hr>
            <p class="small text-center"> Greets from Tododo Team ! </p>

{% endblock content %}