{% extends "main.html" %}
{% load static %}
{% block content %}

<body>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Dashboard</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#" style="background: rgb(46,45,136);"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4"><a class="dashboard_link" href="#">
                                <div class="card shadow border-left-primary py-2">
                                    <div class="card-body">
                                        <div class="row g-0 align-items-center">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Earnings (monthly)</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>${{ sum_of_earnings_month }}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-md-6 col-xl-3 mb-4"><a class="dashboard_link" href="#">
                                <div class="card shadow border-left-success py-2">
                                    <div class="card-body">
                                        <div class="row g-0 align-items-center">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>REAL EARNINGS</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>${{ real_earnings_this_month }}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-md-6 col-xl-3 mb-4"><a class="dashboard_link" href="#">
                                <div class="card shadow border-left-info py-2">
                                    <div class="card-body">
                                        <div class="row g-0 align-items-center">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>Tasks completed</span></div>
                                                <div class="row g-0 align-items-center">
                                                    <div class="col-auto">
                                                        <div class="text-dark fw-bold h5 mb-0 me-3"><span>{{ percent_of_active_todo }}%</span></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="progress progress-sm">
                                                            <div class="progress-bar bg-info" aria-valuenow="{{ percent_of_active_todo }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent_of_active_todo }}%;"><span class="visually-hidden"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-md-6 col-xl-3 mb-4"><a class="dashboard_link" href="#">
                                <div class="card shadow border-left-warning py-2">
                                    <div class="card-body">
                                        <div class="row g-0 align-items-center">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Important Tasks</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{ important_tasks_count }}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-xl-8">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center"><a class="dashboard_link" href="{% url 'todolist:money_view' user_id=user_id %}">
                                        <h6 class="text-primary fw-bold m-0">Money Overview</h6>
                                    </a>
                                    
                                    
                                </div>
                                <div class="card-body">
                                    <img src="data:image/png;base64,{{ earnings_to_billings_plot }}" alt="Wykres" style="max-width: 100%; height: auto;"> </img>
                                </div>
                            </div>
                        </div>
                            
                            
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3"><a class="dashboard_link" href="#">
                                        <h6 class="text-primary fw-bold m-0">Overview</h6>
                                    </a></div>
                                <div class="card-body">
                                    <h4 class="small fw-bold">Earnings<span class="float-end">${{ sum_of_earnings_month }}</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-info" aria-valuenow="{{percent_of_earnings_to_bills}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_of_earnings_to_bills}}%;"><span class="visually-hidden">{{percent_of_earnings_to_bills}}%</span></div>
                                    </div>
                                    <h4 class="small fw-bold">Bills<span class="float-end">${{ billing_this_month }}</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-danger" aria-valuenow="{{percent_of_billings_to_earnings}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_of_billings_to_earnings}}%;"><span class="visually-hidden">{{percent_of_billings_to_earnings}}%</span></div>
                                    </div>
                                    <h4 class="small fw-bold">Important Tasks<span class="float-end">{{ important_tasks_count }}</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-warning" aria-valuenow="{{ percent_of_important_tasks }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent_of_important_tasks }}%;"><span class="visually-hidden">{{ percent_of_important_tasks }}%</span></div>
                                    </div>
                                    <h4 class="small fw-bold">Tasks (completed) <span class="float-end">{{ percent_of_active_todo }}%</span></h4>
                                    <div class="progress mb-4" style="color: rgb(46,45,136);">
                                        <div class="progress-bar bg-primary" aria-valuenow="{{ percent_of_active_todo }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent_of_active_todo }}%;"><span class="visually-hidden">{{ percent_of_active_todo }}%</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3"><a class="dashboard_link" href="#">
                                        <h6 class="text-primary fw-bold m-0">Friends Request</h6>
                                    </a></div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col me-2">
                                                <h6 class="mb-0"><strong>Wander Szybki Pies</strong></h6><span class="text-xs">10:30 AM</span>
                                            </div>
                                            <div class="col-auto"><a href="#"><i class="fas fa-check" style="font-size: 20px;margin-right: 18px;"></i></a><a href="#"><i class="fas fa-times" style="font-size: 22px;margin-right: 10px;"></i></a><a class="d-inline-block" href="https://www.google.com/"><img src="{% static 'images/avatars/Avatarwander.png' %}" style="width: 60px;height: 60px;border-style: solid;border-color: var(--bs-list-group-active-color);border-radius: 83px;"></a></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3"><a class="dashboard_link" href="#">
                                        <h6 class="text-primary fw-bold m-0">Today Todo</h6>
                                    </a></div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"></li>
                                    <li class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col me-2">
                                                <h6 class="mb-0"><strong>Spacer</strong></h6><span class="text-xs">6:30&nbsp;</span>
                                            </div>
                                            <div class="col-auto"><button class="btn btn-primary btn-lg" type="button" style="width: 35px;height: 35px;background: rgba(78,115,223,0);color: rgba(255,255,255,0);"><i class="far fa-check-circle d-flex justify-content-center align-items-center star-completed" style="color: var(--bs-btn-bg);"></i></button></div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col me-2">
                                                <h6 class="mb-0"><strong>Spacer wieczorny</strong></h6><span class="text-xs">20:30&nbsp;</span>
                                            </div>
                                            <div class="col-auto"><button class="btn btn-primary btn-lg" type="button" style="width: 35px;height: 35px;background: rgba(78,115,223,0);color: rgba(255,255,255,0);"><i class="far fa-circle d-flex justify-content-center align-items-center star" style="color: var(--bs-btn-bg);"></i></button></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3"><a class="dashboard_link" href="#">
                                        <h6 class="text-primary fw-bold m-0">Beam Me Tomorrow Todo</h6>
                                    </a></div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col me-2">
                                                <h6 class="mb-0"><strong>Jedzenie</strong></h6><span class="text-xs">6:30</span>
                                            </div>
                                            <div class="col-auto"><button class="btn btn-primary btn-lg" type="button" style="width: 35px;height: 35px;background: rgba(78,115,223,0);color: rgba(255,255,255,0);"><i class="far fa-circle d-flex justify-content-center align-items-center star" style="color: var(--bs-btn-bg);"></i></button></div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col me-2">
                                                <h6 class="mb-0"><strong>Spacer</strong></h6><span class="text-xs">8:30&nbsp;</span>
                                            </div>
                                            <div class="col-auto"><button class="btn btn-primary btn-lg" type="button" style="width: 35px;height: 35px;background: rgba(78,115,223,0);color: rgba(255,255,255,0);"><i class="far fa-check-circle d-flex justify-content-center align-items-center star-completed" style="color: var(--bs-btn-bg);"></i></button></div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col me-2">
                                                <h6 class="mb-0"><strong>Głaskanie</strong></h6><span class="text-xs">20:30&nbsp;</span>
                                            </div>
                                            <div class="col-auto"><button class="btn btn-primary btn-lg" type="button" style="width: 35px;height: 35px;background: rgba(78,115,223,0);color: rgba(255,255,255,0);"><i class="far fa-check-circle d-flex justify-content-center align-items-center star-completed" style="color: var(--bs-btn-bg);"></i></button></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © no-ppp 2024</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
</body>
{% endblock content %}