{% extends "main.html" %}
{% load static %}
{% block content %}
<body id="page-top">
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Profile</h3>
        <div class="row mb-3">
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="card-body text-center shadow">
                        
                        <img class="rounded-circle mb-3 mt-4 img-fluid" src="{{ user.avatar.url }}" alt="User Avatar" style="box-shadow: 1px 1px 20px rgb(0,25,255); max-width: 250px; width: 250px; height: 250px; object-fit: cover;">
                        <div class="mb-3">
                            <a class="btn btn-primary btn-sm" href="{% url 'todolist:profile_settings' user_id=user_id %}">Settings</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">User&nbsp;</p>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col" style="border: 1px solid rgba(133,135,150,0.23);">
                                            <div class="mb-3">
                                                <label class="form-label" for="username"><strong>Username</strong></label>
                                                <h4 class="fw-normal" style="color: var(--bs-emphasis-color);">{{ user.username }}</h4>
                                            </div>
                                        </div>
                                        <div class="col" style="border: 1px solid rgba(133,135,150,0.23);">
                                            <div class="mb-3">
                                                <label class="form-label" for="email"><strong>Email Address</strong></label>
                                                <h4 class="fw-normal" style="color: var(--bs-emphasis-color);">{{ user.email }}</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col" style="border: 1px solid rgba(133,135,150,0.23);border-left-width: 1px;">
                                            <div class="mb-3">
                                                <label class="form-label" for="first_name"><strong>First Name</strong></label>
                                                <h3 class="fw-normal" style="color: var(--bs-emphasis-color);">{{ user.name }}</h3>
                                            </div>
                                        </div>
                                        <div class="col" style="border: 1px solid rgba(133,135,150,0.23);border-left-width: 0px;">
                                            <div class="mb-3">
                                                <label class="form-label" for="last_name"><strong>Last Name</strong></label>
                                                <h3 class="fw-normal" style="color: var(--bs-emphasis-color);">{{ user.last_name }}</h3>
                                            </div>
                                        </div>
                                        <div class="col" style="border: 1px solid rgba(133,135,150,0.23);">
                                            <div class="mb-3">
                                                <label class="form-label" for="username"><strong>Born</strong></label>
                                                <h3 class="fw-normal" style="color: var(--bs-emphasis-color);">{{ user.born }}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card shadow">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Contact Settings</p>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="city"><strong>City</strong></label>
                                                <h3 class="fw-semibold">{{ user.city }}</h3>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="country"><strong>Country</strong></label>
                                                <h3 class="fw-semibold">{{user.country}}</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow mb-5"></div>
    </div>
    <div id="card-mobile" class="card-mobile">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary fw-bold m-0">Overview</h6>
            </div>
            <div class="card-body">
                <div style="background: rgba(133,135,150,0.25);border-radius: 19px;box-shadow: 1px 1px 8px rgb(0,102,255);">
                    <p style="color: var(--bs-emphasis-color);padding: 10px;">{{ user.bio }}</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © Tododo 2024</span></div>
        </div>
    </footer>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</body>
{% endblock %}